# Desafio 4.

#### Exercício 1: Acesse a [API da NBA](https://github.com/swar/nba_api) para ter acesso às informações dos times e jogadores. Crie um dataframe dos clubes e dos jogadores e escolha o jogador `Kobe Bryant` para fazer um estudo. Calcule quantos arremeços ele realizou nos últimos segundos de cada período jogado, em todos os seus jogos.

#### Você pode acessar o artigo [How to Get NBA Data Using the nba_api Python Module (Beginner)](https://www.playingnumbers.com/2019/12/how-to-get-nba-data-using-the-nba_api-python-module-beginner/) para esclarecer algumas das funcionalidades da API.

!pip install nba_api

In [1]:
%matplotlib inline
import requests
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import nba_api
from nba_api.stats.static import players
from nba_api.stats.static import teams
from nba_api.stats.endpoints import leaguegamefinder
from nba_api.stats.endpoints import shotchartdetail

In [2]:
# get_teams returns a list of 30 dictionaries, each an NBA team.
nba_teams = teams.get_teams()
print('Number of teams fetched: {}'.format(len(nba_teams)))
nba_teams[:3]

Number of teams fetched: 30

[{'id': 1610612737,
  'full_name': 'Atlanta Hawks',
  'abbreviation': 'ATL',
  'nickname': 'Hawks',
  'city': 'Atlanta',
  'state': 'Atlanta',
  'year_founded': 1949},
 {'id': 1610612738,
  'full_name': 'Boston Celtics',
  'abbreviation': 'BOS',
  'nickname': 'Celtics',
  'city': 'Boston',
  'state': 'Massachusetts',
  'year_founded': 1946},
 {'id': 1610612739,
  'full_name': 'Cleveland Cavaliers',
  'abbreviation': 'CLE',
  'nickname': 'Cavaliers',
  'city': 'Cleveland',
  'state': 'Ohio',
  'year_founded': 1970}]

In [3]:
df_nba_teams_01 = pd.DataFrame(nba_teams)
df_nba_teams_01

,id,full_name,abbreviation,nickname,city,state,year_founded
0,1610612737,Atlanta Hawks,ATL,Hawks,Atlanta,Atlanta,1949
1,1610612738,Boston Celtics,BOS,Celtics,Boston,Massachusetts,1946
2,1610612739,Cleveland Cavaliers,CLE,Cavaliers,Cleveland,Ohio,1970
3,1610612740,New Orleans Pelicans,NOP,Pelicans,New Orleans,Louisiana,2002
4,1610612741,Chicago Bulls,CHI,Bulls,Chicago,Illinois,1966
5,1610612742,Dallas Mavericks,DAL,Mavericks,Dallas,Texas,1980
6,1610612743,Denver Nuggets,DEN,Nuggets,Denver,Colorado,1976
7,1610612744,Golden State Warriors,GSW,Warriors,Golden State,California,1946
8,1610612745,Houston Rockets,HOU,Rockets,Houston,Texas,1967
9,1610612746,Los Angeles Clippers,LAC,Clippers,Los Angeles,California,1970
10,1610612747,Los Angeles Lakers,LAL,Lakers,Los Angeles,California,1948
11,1610612748,Miami Heat,MIA,Heat,Miami,Florida,1988
12,1610612749,Milwaukee Bucks,MIL,Bucks,Milwaukee,Wisconsin,1968
13,1610612750,Minnesota Timberwolves,MIN,Timberwolves,Minnesota,Minnesota,1989
14,1610612751,Brooklyn Nets,BKN,Nets,Brooklyn,New York,1976
15,1610612752,New York Knicks,NYK,Knicks,New York,New York,1946
16,1610612753,Orlando Magic,ORL,Magic,Orlando,Florida,1989
17,1610612754,Indiana Pacers,IND,Pacers,Indiana,Indiana,1976
18,1610612755,Philadelphia 76ers,PHI,76ers,Philadelphia,Pennsylvania,1949
19,1610612756,Phoenix Suns,PHX,Suns,Phoenix,Arizona,1968
20,1610612757,Portland Trail Blazers,POR,Trail Blazers,Portland,Oregon,1970
21,1610612758,Sacramento Kings,SAC,Kings,Sacramento,California,1948
22,1610612759,San Antonio Spurs,SAS,Spurs,San Antonio,Texas,1976
23,1610612760,Oklahoma City Thunder,OKC,Thunder,Oklahoma City,Oklahoma,1967
24,1610612761,Toronto Raptors,TOR,Raptors,Toronto,Ontario,1995
25,1610612762,Utah Jazz,UTA,Jazz,Utah,Utah,1974
26,1610612763,Memphis Grizzlies,MEM,Grizzlies,Memphis,Tennessee,1995
27,1610612764,Washington Wizards,WAS,Wizards,Washington,District of Columbia,1961
28,1610612765,Detroit Pistons,DET,Pistons,Detroit,Michigan,1948
29,1610612766,Charlotte Hornets,CHA,Hornets,Charlotte,North Carolina,1988

In [4]:
help(teams)

Help on module nba_api.stats.static.teams in nba_api.stats.static:

NAME
    nba_api.stats.static.teams

FUNCTIONS
    find_team_by_abbreviation(abbreviation)

    find_team_name_by_id(team_id)

    find_teams_by_city(regex_pattern)

    find_teams_by_full_name(regex_pattern)

    find_teams_by_nickname(regex_pattern)

    find_teams_by_state(regex_pattern)

    find_teams_by_year_founded(year)

    get_teams()

DATA
    team_index_abbreviation = 1
    team_index_city = 4
    team_index_full_name = 5
    team_index_id = 0
    team_index_nickname = 2
    team_index_state = 6
    team_index_year_founded = 3
    teams = [[1610612737, 'ATL', 'Hawks', 1949, 'Atlanta', 'Atlanta Hawks'...

FILE
    c:\anaconda\lib\site-packages\nba_api\stats\static\teams.py

In [5]:
type(teams.get_teams())

list

In [6]:
df_teams = pd.DataFrame()

In [7]:
for i in teams.get_teams():
    df_teams = df_teams.append(i, ignore_index = True)

In [8]:
df_teams

,abbreviation,city,full_name,id,nickname,state,year_founded
0,ATL,Atlanta,Atlanta Hawks,1.610613e+09,Hawks,Atlanta,1949.0
1,BOS,Boston,Boston Celtics,1.610613e+09,Celtics,Massachusetts,1946.0
2,CLE,Cleveland,Cleveland Cavaliers,1.610613e+09,Cavaliers,Ohio,1970.0
3,NOP,New Orleans,New Orleans Pelicans,1.610613e+09,Pelicans,Louisiana,2002.0
4,CHI,Chicago,Chicago Bulls,1.610613e+09,Bulls,Illinois,1966.0
5,DAL,Dallas,Dallas Mavericks,1.610613e+09,Mavericks,Texas,1980.0
6,DEN,Denver,Denver Nuggets,1.610613e+09,Nuggets,Colorado,1976.0
7,GSW,Golden State,Golden State Warriors,1.610613e+09,Warriors,California,1946.0
8,HOU,Houston,Houston Rockets,1.610613e+09,Rockets,Texas,1967.0
9,LAC,Los Angeles,Los Angeles Clippers,1.610613e+09,Clippers,California,1970.0
10,LAL,Los Angeles,Los Angeles Lakers,1.610613e+09,Lakers,California,1948.0
11,MIA,Miami,Miami Heat,1.610613e+09,Heat,Florida,1988.0
12,MIL,Milwaukee,Milwaukee Bucks,1.610613e+09,Bucks,Wisconsin,1968.0
13,MIN,Minnesota,Minnesota Timberwolves,1.610613e+09,Timberwolves,Minnesota,1989.0
14,BKN,Brooklyn,Brooklyn Nets,1.610613e+09,Nets,New York,1976.0
15,NYK,New York,New York Knicks,1.610613e+09,Knicks,New York,1946.0
16,ORL,Orlando,Orlando Magic,1.610613e+09,Magic,Florida,1989.0
17,IND,Indiana,Indiana Pacers,1.610613e+09,Pacers,Indiana,1976.0
18,PHI,Philadelphia,Philadelphia 76ers,1.610613e+09,76ers,Pennsylvania,1949.0
19,PHX,Phoenix,Phoenix Suns,1.610613e+09,Suns,Arizona,1968.0
20,POR,Portland,Portland Trail Blazers,1.610613e+09,Trail Blazers,Oregon,1970.0
21,SAC,Sacramento,Sacramento Kings,1.610613e+09,Kings,California,1948.0
22,SAS,San Antonio,San Antonio Spurs,1.610613e+09,Spurs,Texas,1976.0
23,OKC,Oklahoma City,Oklahoma City Thunder,1.610613e+09,Thunder,Oklahoma,1967.0
24,TOR,Toronto,Toronto Raptors,1.610613e+09,Raptors,Ontario,1995.0
25,UTA,Utah,Utah Jazz,1.610613e+09,Jazz,Utah,1974.0
26,MEM,Memphis,Memphis Grizzlies,1.610613e+09,Grizzlies,Tennessee,1995.0
27,WAS,Washington,Washington Wizards,1.610613e+09,Wizards,District of Columbia,1961.0
28,DET,Detroit,Detroit Pistons,1.610613e+09,Pistons,Michigan,1948.0
29,CHA,Charlotte,Charlotte Hornets,1.610613e+09,Hornets,North Carolina,1988.0

In [9]:
from nba_api.stats.static import players
# get_players returns a list of dictionaries, each representing a player.
nba_players = players.get_players()
print('Number of players fetched: {}'.format(len(nba_players)))
nba_players[:5]

Number of players fetched: 4501

[{'id': 76001,
  'full_name': 'Alaa Abdelnaby',
  'first_name': 'Alaa',
  'last_name': 'Abdelnaby',
  'is_active': False},
 {'id': 76002,
  'full_name': 'Zaid Abdul-Aziz',
  'first_name': 'Zaid',
  'last_name': 'Abdul-Aziz',
  'is_active': False},
 {'id': 76003,
  'full_name': 'Kareem Abdul-Jabbar',
  'first_name': 'Kareem',
  'last_name': 'Abdul-Jabbar',
  'is_active': False},
 {'id': 51,
  'full_name': 'Mahmoud Abdul-Rauf',
  'first_name': 'Mahmoud',
  'last_name': 'Abdul-Rauf',
  'is_active': False},
 {'id': 1505,
  'full_name': 'Tariq Abdul-Wahad',
  'first_name': 'Tariq',
  'last_name': 'Abdul-Wahad',
  'is_active': False}]

In [10]:
df_nba_players = pd.DataFrame()

In [11]:
for i in nba_players:
    df_nba_players = df_nba_players.append(i, ignore_index = True)

In [12]:
df_nba_players

     first_name            full_name         id  is_active     last_name
0          Alaa       Alaa Abdelnaby    76001.0        0.0     Abdelnaby
1          Zaid      Zaid Abdul-Aziz    76002.0        0.0    Abdul-Aziz
2        Kareem  Kareem Abdul-Jabbar    76003.0        0.0  Abdul-Jabbar
3       Mahmoud   Mahmoud Abdul-Rauf       51.0        0.0    Abdul-Rauf
4         Tariq    Tariq Abdul-Wahad     1505.0        0.0   Abdul-Wahad
...         ...                  ...        ...        ...           ...
4496       Ante           Ante Zizic  1627790.0        1.0         Zizic
4497        Jim             Jim Zoet    78647.0        0.0          Zoet
4498       Bill            Bill Zopf    78648.0        0.0          Zopf
4499      Ivica          Ivica Zubac  1627826.0        1.0         Zubac
4500       Matt           Matt Zunic    78650.0        0.0         Zunic

[4501 rows x 5 columns]

In [13]:
df_nba_players02 = pd.DataFrame(nba_players)
df_nba_players02

           id            full_name first_name     last_name  is_active
0       76001       Alaa Abdelnaby       Alaa     Abdelnaby      False
1       76002      Zaid Abdul-Aziz       Zaid    Abdul-Aziz      False
2       76003  Kareem Abdul-Jabbar     Kareem  Abdul-Jabbar      False
3          51   Mahmoud Abdul-Rauf    Mahmoud    Abdul-Rauf      False
4        1505    Tariq Abdul-Wahad      Tariq   Abdul-Wahad      False
...       ...                  ...        ...           ...        ...
4496  1627790           Ante Zizic       Ante         Zizic       True
4497    78647             Jim Zoet        Jim          Zoet      False
4498    78648            Bill Zopf       Bill          Zopf      False
4499  1627826          Ivica Zubac      Ivica         Zubac       True
4500    78650           Matt Zunic       Matt         Zunic      False

[4501 rows x 5 columns]

Selecionando Kobe Bryant

In [14]:
dfKobe = df_nba_players[df_nba_players["full_name"] == "Kobe Bryant"]
dfKobe

    first_name    full_name     id  is_active last_name
534       Kobe  Kobe Bryant  977.0        0.0    Bryant

In [23]:
dfKobe_id = df_nba_players02[df_nba_players02["full_name"] == "Kobe Bryant"]['id']

In [24]:
dfKobe_id

534    977
Name: id, dtype: int64

In [25]:
team1_id = df_nba_teams_01[df_nba_teams_01['nickname'] == 'Lakers']['id']
print(team1_id)

10    1610612747
Name: id, dtype: int64

In [26]:
team1_id

10    1610612747
Name: id, dtype: int64

In [27]:
shots1 = shotchartdetail.ShotChartDetail(team_id = team1_id, 
                                         player_id = dfKobe_id, 
                                         context_measure_simple = 'FGA', 
                                         season_nullable = '2000-01')

In [34]:
print(shots1)
pd.set_option("diplay.maxcolumwidth", None)
shots1_df = shots1.get_data_frames()[0]

shots1_df.head()

<nba_api.stats.endpoints.shotchartdetail.ShotChartDetail object at 0x000001EAF5E79AF0>

OptionError: "No such keys(s): 'diplay.maxcolumwidth'"

In [33]:
shots1_df_sort_remaining_seconds = shots1_df.sort_values(by = "SECONDS_REMAINING")[shots1_df[]]
shots1_df_sort_remaining_seconds

,GRID_TYPE,GAME_ID,GAME_EVENT_ID,PLAYER_ID,PLAYER_NAME,TEAM_ID,TEAM_NAME,PERIOD,MINUTES_REMAINING,SECONDS_REMAINING,...,SHOT_ZONE_AREA,SHOT_ZONE_RANGE,SHOT_DISTANCE,LOC_X,LOC_Y,SHOT_ATTEMPTED_FLAG,SHOT_MADE_FLAG,GAME_DATE,HTM,VTM
454,Shot Chart Detail,0020000267,529,977,Kobe Bryant,1610612747,Los Angeles Lakers,5,0,0,...,Center(C),24+ ft.,33,-96,318,1,0,20001206,GSW,LAL
386,Shot Chart Detail,0020000246,348,977,Kobe Bryant,1610612747,Los Angeles Lakers,3,0,0,...,Center(C),Less Than 8 ft.,0,0,0,1,1,20001203,LAL,DAL
601,Shot Chart Detail,0020000347,538,977,Kobe Bryant,1610612747,Los Angeles Lakers,4,0,0,...,Center(C),24+ ft.,25,-4,255,1,0,20001217,TOR,LAL
1359,Shot Chart Detail,0020000936,541,977,Kobe Bryant,1610612747,Los Angeles Lakers,5,4,0,...,Right Side(R),8-16 ft.,11,77,91,1,1,20010315,DET,LAL
585,Shot Chart Detail,0020000347,114,977,Kobe Bryant,1610612747,Los Angeles Lakers,1,0,0,...,Back Court(BC),Back Court Shot,62,100,620,1,0,20001217,TOR,LAL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1288,Shot Chart Detail,0020000884,332,977,Kobe Bryant,1610612747,Los Angeles Lakers,3,1,59,...,Center(C),Less Than 8 ft.,0,0,0,1,1,20010307,LAL,TOR
1316,Shot Chart Detail,0020000896,252,977,Kobe Bryant,1610612747,Los Angeles Lakers,3,8,59,...,Center(C),Less Than 8 ft.,7,14,74,1,0,20010309,LAL,SAS
484,Shot Chart Detail,0020000297,28,977,Kobe Bryant,1610612747,Los Angeles Lakers,1,7,59,...,Right Side Center(RC),16-24 ft.,17,132,120,1,1,20001210,LAL,DET
803,Shot Chart Detail,0020000519,470,977,Kobe Bryant,1610612747,Los Angeles Lakers,4,0,59,...,Left Side Center(LC),24+ ft.,23,-164,175,1,0,20010112,LAL,CLE
1441,Shot Chart Detail,0020001121,50,977,Kobe Bryant,1610612747,Los Angeles Lakers,1,5,59,...,Right Side Center(RC),16-24 ft.,17,85,152,1,1,20010410,LAL,PHX

#### Exercício 2: Importe as bibliotecas necessárias para a realização de uma classificação do tipo `k-nearest neighbors` e carregue o arquivo `iris.csv`. Faça uma inspeção dos dados e então divida-os entre conjuntos de atributos descritivos e targets, lembrando-se de realizar a codificação dos mesmos, caso necessário.

#### Instancie o modelo de classificação k-NN e realize a validação cruzada para a captura dos melhores hiperparâmetros. Apresente um gráfico com os valores dos scores em função no número de vizinhos, considerando as margens de desvio padrão. Estude os valores médios e o desvio padrão de cada atributo descritivo.

#### Agora realize a padronização, repita o processo de captura do melhor hiperparâmetro e plote novamente o gráfico dos scores em função do número de vizinhos, discuta as diferenças para o caso sem padronização.

#### Separe os dados em subconjuntos de treino e teste e treine o modelo. Instancie um novo modelo padronizado, levando em conta o melhor número de vizinhos, ajuste os dados e realize suas previsões. Ao fim, calcule a matriz de confusão e meça a acurácia de seus resultados.

#### Exercício 3: Importe as bibliotecas necessárias para a realização de uma classificação do tipo `Logistic regression` e carregue o arquivo `cancer-prostate.csv`. Faça uma inspeção dos dados e então divida-os entre conjuntos de atributos descritivos e targets, lembrando-se de realizar a codificação dos mesmos, caso necessário.


#### Realize separação entre atributos descritivos e targets e faça a padronização dos dados, codificando os diagnósticos. Calcule uma matriz de correlação entre os atributos descritivos e a imprima em um mapa de calor. 

#### Estabeleça uma estratégia para a validação cruzada e estude os dados de modelo, coeficientes e scores para diferentes quantidades de dobras.

#### Por fim, separe seu dataset em subconjuntos de treino e teste e submeta-o a um modelo de regressão logística, ajustando os dados de treino. Calcule os coeficientes de intercepção e de inclinação dos diversos coeficientes angulares. calcule a matriz de confusão dos dados e a acurácia do modelo. Calcule também a curva ROC e a área sob a curva AUC para seu modelo.

#### Exercício 4: Importe as bibliotecas necessárias para a realização de uma classificação do tipo `GaussianNB` e carregue o arquivo `diabetes.csv`. Faça uma inspeção dos dados e então divida-os entre conjuntos de atributos descritivos e targets, lembrando-se de realizar a codificação dos mesmos, caso necessário.

#### Separe o dataframe criado entre atributos descritivos e tagets e então separe-os em conjuntos de treino e teste. Submeta os dados de treino a um modelo Naive Bayes e ajuste os dados de treino. 

#### Realize as previsões e calcule a acurácia do modelo. Calcule também a matriz de confusão e a imprima em conjunto com um mapa de calor para inspeção visual. Calcule também a curva ROC e a área sob a curva AUC para seu modelo.

#### Exercício 5: Importe as bibliotecas necessárias para a realização de uma classificação do tipo `SVM` e carregue o arquivo `winequality-red.csv`. Faça uma inspeção dos dados e então divida-os entre conjuntos de atributos descritivos e targets, lembrando-se de realizar a codificação dos mesmos, caso necessário.

#### Realize os procedimentos de separação dos dados entre atributos descritivos e targets; Faça a separação destes entre subconjuntos de treino e teste e encontre a melhor função de Kernel para obter a maior acurácia possível para a previsão do nível de qualidade dos vinhos do dataset.